<div class="box-makecot">
  <span class="product-form__option-name text--strong">Cotação de Frete </span>
  <div class="makecot">
    <div class="cep">
      <input type="text" id="cep" name="cep" class="cep" maxlength="9" onkeyup="handleZipCode(event)" >
      <div id="bt-make-cot">Buscar</div>
      <div class="yampi-loading cot-loading-show"></div>
    </div>
    <div id="list">

    </div>
  </div>
</div>

<script>
  const cep = document.querySelector("#cep")
  const btMakeCot = document.querySelector("#bt-make-cot")
  const boxList = document.querySelector("#list")
  const loadingShow = document.querySelector(".cot-loading-show")
  if(loadingShow){
    loadingShow.style.display = "none"
  }
  var list = []
  var status = false
  btMakeCot.addEventListener("click", async () => {
    loadingShow.style.display = ""
    
    const urlTest = `https://n8n.acos-services.tech/webhook-test/6594fc66-4e3d-4976-9e7c-d78dc314971b`
    const urlProd = `https://webhook.n8n.acos-services.tech/webhook/6594fc66-4e3d-4976-9e7c-d78dc314971b`
    boxList.innerHTML = `
    <div class="itemCot">
                            <div class="itemCotTitle">
                              <span class="medium block">Retirar na loja</span>
                              <span class="shipping-time">Entrega garantida</span>
                            </div>
                            <span class="itemCotPrice" >Grátis</span>
                          </div>
    `
    
    const token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMjhhN2M2MWY1MDZkYjBmYWY0MDhlNjE4NWZhYTI3NWE0ZjE4N2EyZTQyYzJhMThlOWM3MjU4Nzk5YjMyOTJjNDFiNGQyODRjMTQ4ODM1ZDgiLCJpYXQiOjE3NjgyMTgwMzIuNzQyODM1LCJuYmYiOjE3NjgyMTgwMzIuNzQyODM2LCJleHAiOjE3OTk3NTQwMzIuNzMwODkyLCJzdWIiOiIwMGE0NzZkNy02NDI1LTRmNDEtODA2ZC0yZmMwYjkwYzdiNjgiLCJzY29wZXMiOlsiY2FydC1yZWFkIiwiY2FydC13cml0ZSIsImNvbXBhbmllcy1yZWFkIiwiY29tcGFuaWVzLXdyaXRlIiwiY291cG9ucy1yZWFkIiwiY291cG9ucy13cml0ZSIsIm5vdGlmaWNhdGlvbnMtcmVhZCIsIm9yZGVycy1yZWFkIiwicHJvZHVjdHMtcmVhZCIsInByb2R1Y3RzLWRlc3Ryb3kiLCJwcm9kdWN0cy13cml0ZSIsInB1cmNoYXNlcy1yZWFkIiwic2hpcHBpbmctY2FsY3VsYXRlIiwic2hpcHBpbmctY2FuY2VsIiwic2hpcHBpbmctY2hlY2tvdXQiLCJzaGlwcGluZy1jb21wYW5pZXMiLCJzaGlwcGluZy1nZW5lcmF0ZSIsInNoaXBwaW5nLXByZXZpZXciLCJzaGlwcGluZy1wcmludCIsInNoaXBwaW5nLXNoYXJlIiwic2hpcHBpbmctdHJhY2tpbmciLCJlY29tbWVyY2Utc2hpcHBpbmciLCJ0cmFuc2FjdGlvbnMtcmVhZCIsInVzZXJzLXJlYWQiLCJ1c2Vycy13cml0ZSIsIndlYmhvb2tzLXJlYWQiLCJ3ZWJob29rcy13cml0ZSIsIndlYmhvb2tzLWRlbGV0ZSIsInRkZWFsZXItd2ViaG9vayJdfQ.O2QFCi9sjouRHWd_U57i5vZNJmAWSmSw7Se8rXWhPkRxSwyapX3G8OJaSAdEyGTjQIumJDIQEIxzMCPoHOdrxWRht7HdbzCG-5_NI3_1ZCoelBGImRv3VDUf8LAVzFj5UfXA7F52mxSZ1vUiuzsLCtSJKFRKjilTsqqHsA8ihw2TIuImKsswr9Kv4iZ0nzEWiPB1ECQR9pOu98OYvlR2eLEu7rF0ymYb2NFbKrMVpJkkE1MrSdxvBaPqpYza-lFBe-qhzkBaqS7a0ywbV1FnIuCpDppRw5tmRJOgYs1n1o90eRLtT9sU70jfXkJtsI_XLGVBKvSGjxXYA-k74GKykdBvIuL_pRUz9_5uJN4RrMBgQpRNtuZDYwh53fDNfsn3HwN_314VV7boo0IvXaxJp7LP_KcYI0vuwFrOWNTKSprXBT1HaokpMCBETmU2bJEG9nKdsIjUTCARNQtraEi_IdTxdygxBnVOjxj-mCbJ2OLG74REnpOFX70fMqGvZD9ke4WBlKY9990qyATyDW6WrJvdWyJakTXZ7hVejLdx_W__my_1gmY9-RT7s6AlCSiJIHGrYR3O9s1Y2ukVBYOikO7FYqwKRqY_zkWbdGicjd137LANzIHDFow2JMVfO943HpcWrh4RsIXvcgRsQH9sro4S1lskxd-s-cA1ZCZhWpM"


    const res = await fetch(urlProd, {
      method: "POST",
      headers: {
        "Accept": "application/json",
        "Content-Type": "application/json",
        "User-Agent": "aurelio@acos-services.tech",
        "Authorization": `Bearer ${token}`
      },
      body: JSON.stringify({
        "from": {
          "postal_code": "85805370"
        },
        "to": {
          "postal_code": cep.value
        },
        "package": {
          "height": 7,
          "width": 20,
          "length": 25,
          "weight": 1
        }
      })
    })
    if (res.ok) {
      list = await res.json()
      list.item.forEach(element => {
        var price = Number(element.price)+3.25
        if(element.price === null){
          return 
        }
        boxList.insertAdjacentHTML("beforeend", `
                        <div class="itemCot">
                            <div class="itemCotTitle">
                                <span class="medium block">Correios ${element.name}</span>
                        <span class="shipping-time">Entrega garantida</span>    
                            </div>
                            <span class="itemCotPrice">R$${price.toString().replace(".",",")}</span>
                        </div>
                    `)
      })
      loadingShow.style.display = "none"
    }else{
      loadingShow.style.display = "none"
      console.log(`Erro ${res.status}`)
    }
  })

  const handleZipCode = (event) => {
  let input = event.target
  input.value = zipCodeMask(input.value)
}

const zipCodeMask = (value) => {
  if (!value) return ""
  value = value.replace(/\D/g,'')
  value = value.replace(/(\d{5})(\d)/,'$1-$2')
  return value
}
</script>

<style>
  .makecot {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }

  .cep {
    display: flex;
    justify-content: center;

  }

  #cep {
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
    padding: 15px 10px;
    border-right: 0;
  }

  #bt-make-cot {
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background:rgb(0, 0, 0);
    color: #fff;
  }
 .itemCot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

  .itemCotTitle{
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .medium.block{
    font-size: 12px;
    font-weight: bold;
    line-height: 0;
  }
  .shipping-time {
  font-size: 12px;
  line-height: 0;
}

.itemCotPrice {
  color: #44C485;
  font-size: 14px;
  font-weight: bold;
}

#list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
</style>