<div class="box-makecot">
  <span class="product-form__option-name text--strong">Cotação de Frete </span>
  <div class="makecot">
    <div class="cep">
      <input type="text" id="cep" name="cep" class="cep" maxlength="9" onkeyup="handleZipCode(event)" >
      <div id="bt-make-cot">Buscar</div>
      <div class="yampi-loading cot-loading-show"></div>
    </div>
    <div id="list">

    </div>
  </div>
</div>

<script>
  const cep = document.querySelector("#cep")
  const btMakeCot = document.querySelector("#bt-make-cot")
  const boxList = document.querySelector("#list")
  const loadingShow = document.querySelector(".cot-loading-show")
  if(loadingShow){
    loadingShow.style.display = "none"
  }
  var list = []
  var status = false
  btMakeCot.addEventListener("click", async () => {
    loadingShow.style.display = ""
    
    const urlTest = `https://n8n.acos-services.tech/webhook-test/6594fc66-4e3d-4976-9e7c-d78dc314971b`
    const urlProd = `https://webhook.n8n.acos-services.tech/webhook/6594fc66-4e3d-4976-9e7c-d78dc314971b`
    boxList.innerHTML = `
    <div class="itemCot">
                            <div class="itemCotTitle">
                              <span class="medium block">Retirar na loja</span>
                              <span class="shipping-time">Entrega garantida</span>
                            </div>
                            <span class="itemCotPrice" >Grátis</span>
                          </div>
    `
    
    const token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiZTdkYjYwMDA0NmU5YTVkYzkwZmZjMjYxYmQwZWVmNjcxYzNiYmUzZjFhYzZjOTc1ZGFhNTNkZjYzYTFlMDYzOTFhNjNhODRkYjhmZGMwYjQiLCJpYXQiOjE3NjgyMTY3NzMuNTk1ODU3LCJuYmYiOjE3NjgyMTY3NzMuNTk1ODU5LCJleHAiOjE3OTk3NTI3NzMuNTgzNjM2LCJzdWIiOiIwMGE0NzZkNy02NDI1LTRmNDEtODA2ZC0yZmMwYjkwYzdiNjgiLCJzY29wZXMiOlsiY2FydC1yZWFkIiwiY2FydC13cml0ZSIsImNvbXBhbmllcy1yZWFkIiwiY29tcGFuaWVzLXdyaXRlIiwiY291cG9ucy1yZWFkIiwiY291cG9ucy13cml0ZSIsIm5vdGlmaWNhdGlvbnMtcmVhZCIsIm9yZGVycy1yZWFkIiwicHJvZHVjdHMtcmVhZCIsInByb2R1Y3RzLWRlc3Ryb3kiLCJwcm9kdWN0cy13cml0ZSIsInB1cmNoYXNlcy1yZWFkIiwic2hpcHBpbmctY2FsY3VsYXRlIiwic2hpcHBpbmctY2FuY2VsIiwic2hpcHBpbmctY2hlY2tvdXQiLCJzaGlwcGluZy1jb21wYW5pZXMiLCJzaGlwcGluZy1nZW5lcmF0ZSIsInNoaXBwaW5nLXByZXZpZXciLCJzaGlwcGluZy1wcmludCIsInNoaXBwaW5nLXNoYXJlIiwic2hpcHBpbmctdHJhY2tpbmciLCJlY29tbWVyY2Utc2hpcHBpbmciLCJ0cmFuc2FjdGlvbnMtcmVhZCIsInVzZXJzLXJlYWQiLCJ1c2Vycy13cml0ZSIsIndlYmhvb2tzLXJlYWQiLCJ3ZWJob29rcy13cml0ZSIsIndlYmhvb2tzLWRlbGV0ZSIsInRkZWFsZXItd2ViaG9vayJdfQ.p_LSWo6PJf7v-UpcaXdgHDPPnS_q3m-ZPP2qV0GJONNrJuuTF10ypo4TMBb3j0Ts5_tXZ-zVzPZBkNmOabV3iEnhCxsm6NbsSV0LxdenR66-dglZsA2-tooCo8HOjcW1-aXNaI0N4fBeofR9UK_SA_1fKM4V9JcD4EDre0N8elpm11bY6de6fvwqmKn0yO9hvo_E6f9Pj1987eulZoEcvV-zbYgwoGxzlNaazKLWPsffL2j3q5HEPMJooWX2Dd1V0jpnfsUFsTMZUg7NuisN6mwZHG_CPM_-SLBOKi2Ey8w5gSxmjO5R-qFQHsD2jclG1uCtrptBNAgkGUgw17obs7iahrW5iCe9r6W7gc1bzKrKcWAKtEUSWuPDoEBaCyC_5eo4PaZMiPt6nm8N_gOFXqlEc1Gtk6YswcnufruafgiPWf8XTUxKTPvGoSIEPFNNPU2ZsF9ii_xif9KtYqczT89DqPhQ7l_4j8WDEiQaa-RkgrF9xktmvNZGC-q-g1ZbdrkG7zoHnQIF5PfwS1uFyWElLNt2Spw3mDKO9do4hNsAcuM_BZBZk6D5r1zCUmPxsXfzStcKnLldvjJSKlzsaoIm8TsQH36BVwHh5HIUeFdmWbEHiZUfpmtah9KPHYVQazczImyOt1psAlWo-7ZBpuH4vs_jrPwN3IJ3RanUJUw"


    const res = await fetch(urlProd, {
      method: "POST",
      headers: {
        "Accept": "application/json",
        "Content-Type": "application/json",
        "User-Agent": "aurelio@acos-services.tech",
        "Authorization": `Bearer ${token}`
      },
      body: JSON.stringify({
        "from": {
          "postal_code": "85805370"
        },
        "to": {
          "postal_code": cep.value
        },
        "package": {
          "height": 4,
          "width": 50,
          "length": 17,
          "weight": 1
        }
      })
    })
    if (res.ok) {
      list = await res.json()
      list.item.forEach(element => {
        var price = Number(element.price)+3.25
        if(element.price === null){
          return 
        }
        boxList.insertAdjacentHTML("beforeend", `
                        <div class="itemCot">
                            <div class="itemCotTitle">
                                <span class="medium block">Correios ${element.name}</span>
                        <span class="shipping-time">Entrega garantida</span>    
                            </div>
                            <span class="itemCotPrice">R$${price.toString().replace(".",",")}</span>
                        </div>
                    `)
      })
      loadingShow.style.display = "none"
    }else{
      loadingShow.style.display = "none"
      console.log(`Erro ${res.status}`)
    }
  })

  const handleZipCode = (event) => {
  let input = event.target
  input.value = zipCodeMask(input.value)
}

const zipCodeMask = (value) => {
  if (!value) return ""
  value = value.replace(/\D/g,'')
  value = value.replace(/(\d{5})(\d)/,'$1-$2')
  return value
}
</script>

<style>
  .makecot {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }

  .cep {
    display: flex;
    justify-content: center;

  }

  #cep {
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
    padding: 15px 10px;
    border-right: 0;
  }

  #bt-make-cot {
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #00C3EE;
    color: #fff;
  }
 .itemCot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

  .itemCotTitle{
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .medium.block{
    font-size: 12px;
    font-weight: bold;
    line-height: 0;
  }
  .shipping-time {
  font-size: 12px;
  line-height: 0;
}

.itemCotPrice {
  color: #44C485;
  font-size: 14px;
  font-weight: bold;
}

#list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
</style>