<div class="comparison-container">
  <div class="comparison-slider">
    <img src="{{ 'image1.png' | asset_url }}" alt="Modelo 1" class="comparison-img">
    <div class="comparison-resize">
      <img src="{{ 'image2.png' | asset_url }}" alt="Modelo 2" class="comparison-img">
    </div>
    <input type="range" min="0" max="100" value="50" class="slider">
  </div>
</div>

<style>
.comparison-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.comparison-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.comparison-img {
  width: 100%;
  display: block;
}

.comparison-resize {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.slider {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const slider = document.querySelector('.slider');
  const resize = document.querySelector('.comparison-resize');

  slider.addEventListener('input', function () {
    resize.style.width = this.value + '%';
  });
});
</script>
