.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}


#score {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
  font-weight: 900;
    color: white;
}


#introduction {
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
  text-align: center;
  transition: opacity 2s;
  color: white;
  background-color: #000000AB;
  padding: 12px 16px;
  border-radius: 20px;
  pointer-events: not-allowed;
}

#restart {
  width: 120px;
  height: 120px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  display: none;
  cursor: pointer;
  z-index: 1000;
}

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}

#creditos {
   display: block;
    bottom: 0px !important;
    left: 0px !important;
    background: #000;
    padding: 8px 12px;
    color: #FFF;
}

