body{
    margin:0;
    overflow: hidden;
    display: grid;
    place-items: center;
    background: black;
    min-height:95vh;
}

#ganvas{
    height: 90vmin;
}

#ganvas{
    position: block;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90vh;
}